*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    color:white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main{

    background-color:black;
    height:100vh;
    width:100vw;

}
.name,.profile,.info,.buttons{
    width:100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}
img{
    border-radius: 100%;
}

.buttons{
    justify-content: space-evenly;
    justify-self: center;
    padding: 2% 30% 2% 30%;


}
i{
    font-size: 30px;
}



